<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
                <div class="col-xs-2 visible-lg">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#"
                               class=color-me-white"
                               id="backbutton-visible-lg">
                                <span class="glyphicon glyphicon-menu-left color-me-white"></span>
                                Websites
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-1 visible-lg">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <a href
                               ng-href="#!/user/{{model.userId}}/website/new">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 col-lg-9">
                    <div class="navbar-header">
                        <a class="navbar-toggle collapsed nav-checkbox"
                           href="profile.html">
                            <span class="glyphicon glyphicon-ok color-me-white"></span>
                        </a>
                        <a class="navbar-brand visible-lg" href="#">New
                            Website</a>
                        <a class="navbar-brand hidden-lg" href="#">
                            <span class="glyphicon glyphicon-menu-left"></span>
                            New Website
                        </a>
                    </div>

                    <!--Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse"
                         id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">
                                <span class="glyphicon glyphicon-ok color-me-white"></span>
                            </a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->

            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-3 visible-lg jga-split-view-left">
                <ul class="list-group">
                    <div ng-repeat="website in model.websites">
                        <li class="list-group-item">
                            <a href ng-href="#!/user/{{ model.userId }}/website/{{ website._id }}/page">
                                {{ website.name }}
                            </a>
                            <a href ng-href="#!/user/{{ model.userId }}/website/{{ website._id }}">
                                <span class="pull-right glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="col-xs-12 col-lg-9 jga-split-view-right">
                <form>
                    <div class="profile-form">
                        <div class="form-group">
                            <label for="inputName">Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputName"
                                   name="inputName"
                                   placeholder="website name"
                                   ng-model="model.website.name">
                        </div>

                        <div class="form-group">
                            <label for="inputDesc">Description</label>
                            <textarea class="form-control"
                                      id="inputDesc"
                                      name="inputDesc"
                                      placeholder="website description"
                                      ng-model="model.website.description"
                                      rows="5"></textarea>
                        </div>

                        <a href
                           ng-click="model.new()"
                           class="btn btn-primary btn-block">Create</a>
                        <a href
                           ng-href="#!/user/{{model.userId}}/website"
                           class="btn btn-danger btn-block">Cancel</a>

                    </div>
                </form>
            </div>

        </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="profile.html">
                    <span class="glyphicon glyphicon-user color-me-white"></span>
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
