<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nav-checkbox"
                   href ng-href="#!/user/{{ model.userId }}/website/new">
                    <span class="glyphicon glyphicon-plus color-me-white"></span>
                </a>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Websites
                </a>
            </div>

            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href ng-href="#!/user/{{ model.userId }}/website/new">
                        <span class="glyphicon glyphicon-plus color-me-white"></span>
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->


        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group">
            <div ng-repeat="website in model.websites">
            <li class="list-group-item">
                <a href ng-href="#!/user/{{ model.userId }}/website/{{ website._id }}/page">
                    {{ website.name }}
                </a>
                <a href ng-href="#!/user/{{ model.userId }}/website/{{ website._id }}">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </li>
            </div>
        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="profile.html">
                    <span class="glyphicon glyphicon-user color-me-white"></span>
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
