/*.btn-block{*/
    /*margin: 3px;*/
/*}*/

body{
    padding-top: 70px;
}

.whitecheckmark{
    color: white;
}

.jga .jga-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
}


@media (min-width: 1200px) {
    .col-lg-9.jga-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}

.nav-checkbox{
    border: 0px;
}

.glyphicon-ok {
    color: #777777;
}