<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nav-checkbox"
                   href="profile.html">
                    <span class="glyphicon glyphicon-ok color-me-white"></span>
                </a>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Pages
                </a>
            </div>

            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">
                        <span class="glyphicon glyphicon-ok color-me-white"></span>
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->


        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">
                    <label for="inputPageName">Page Name</label>
                    <input type="text"
                           class="form-control"
                           id="inputPageName"
                           name="inputPageName"
                           placeholder="Page Name"
                    >
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputPageTitle">Page Title</label>
                    <input type="text"
                           class="form-control"
                           id="inputPageTitle"
                           name="inputPageTitle"
                           placeholder="Page Title"
                    >
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <a href="website-list.html"
                   role="button"
                   type="submit"
                   class="btn btn-danger btn-block">Delete</a>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="profile.html">
                    <span class="glyphicon glyphicon-user color-me-white"></span>
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
