<script src="controllers/register.controller.client.js"></script>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nav-checkbox"
                   href
                   ng-click="model.update()">
                    <span class="glyphicon glyphicon-ok color-me-white"></span>
                </a>
                <a class="navbar-brand" >
                    Profile
                </a>
            </div>

            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="model.update()" href>
                        <span class="glyphicon glyphicon-ok color-me-white"></span>
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->


        </div>
    </nav>

    <div class="container-fluid">
        <form>
            <div class="profile-form">
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3"
                         ng-show="model.profileUpdated">
                        <div class="alert alert-success" role="alert">
                            Profile updated!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <h2>Profile</h2>
                        <div class="form-group">
                            <label for="inputUsername">Username</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputUsername"
                                   name="inputUsername"
                                   placeholder="username"
                                   ng-model="model.user.username"
                            >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="inputEmail"
                                   name="inputEmail"
                                   placeholder="email"
                                   ng-model="model.user.email"
                            >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="form-group">
                            <label for="inputFirstName">First Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputFirstName"
                                   name="inputFirstName"
                                   placeholder="first name"
                                   ng-model="model.user.firstName"
                            >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <div class="form-group">
                            <label for="inputLastName">Last Name</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputLastName"
                                   name="inputLastName"
                                   placeholder="last name"
                                   ng-model="model.user.lastName"
                            >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href
                           ng-href="#!/user/{{ model.userId }}/website"
                           role="button"
                           type="submit"
                           class="btn btn-primary btn-block">Websites</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href
                           ng-click="model.update()"
                           role="button"
                           class="btn btn-success btn-block">Update</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href="login.view.client.html"
                           role="button"
                           type="submit"
                           class="btn btn-danger btn-block">Logout</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <a href
                           ng-click="model.deleteProfile()"
                           role="button"
                           class="btn btn-danger btn-block">Delete</a>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="profile.view.client.html">
                    <span class="glyphicon glyphicon-user color-me-white"></span>
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
