<div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputWidgetUrl">Widget Url</label>
                    <input type="url"
                           class="form-control"
                           id="inputWidgetUrl"
                           name="inputWidgetUrl"
                           placeholder="http://example.com"
                           ng-model="model.widget.url"
                    >
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputWidgetWidth">Widget Width</label>
                    <input type="text"
                           class="form-control"
                           id="inputWidgetWidth"
                           name="inputWidgetWidth"
                           placeholder="100%"
                           ng-model="model.widget.width"
                    >
                </div>
            </div>

        </div>

    </div>
</div>
