<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nav-checkbox"
                   href="profile.html">
                    <span class="glyphicon glyphicon-ok color-me-white"></span>
                </a>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Widget Edit
                </a>
            </div>

            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">
                        <span class="glyphicon glyphicon-ok color-me-white"></span>
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->


        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12">

                <div class="form-group">
                    <label for="inputWidgetName">Widget Name</label>
                    <input type="text"
                           class="form-control"
                           id="inputWidgetName"
                           name="inputWidgetName"
                           placeholder="widget name"
                    >
                </div>

            </div>

        </div>
        <div class="row">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputWidgetText">Widget Text</label>
                    <input type="text"
                           class="form-control"
                           id="inputWidgetText"
                           name="inputWidgetText"
                           placeholder="widget text"
                    >
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputWidgetUrl">Widget Url</label>
                    <input type="url"
                           class="form-control"
                           id="inputWidgetUrl"
                           name="inputWidgetUrl"
                           placeholder="http://example.com"
                    >
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputWidgetWidth">Widget Width</label>
                    <input type="number"
                           class="form-control"
                           id="inputWidgetWidth"
                           name="inputWidgetWidth"
                           placeholder="100%"
                    >
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <div class="form-group">
                    <label for="inputWidgetUpload">Widget Upload</label>
                    <input type="file"
                           class="form-control"
                           id="inputWidgetUpload"
                           name="inputWidgetUpload"
                    >
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <a href="website-list.html"
                   role="button"
                   type="submit"
                   class="btn btn-primary btn-block">Upload Image</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <a href="website-list.html"
                   role="button"
                   type="submit"
                   class="btn btn-danger btn-block">Delete</a>
            </div>
        </div>

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header pull-right">
                <a class="navbar-brand" href="profile.html">
                    <span class="glyphicon glyphicon-user color-me-white"></span>
                </a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
