<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nav-checkbox"
                   href="profile.html">
                    <span class="glyphicon glyphicon-plus color-me-white"></span>
                </a>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-menu-left"></span>
                    Widgets
                </a>
            </div>

            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">
                        <span class="glyphicon glyphicon-plus color-me-white"></span>
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->


        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12">
                <div ng-repeat="widget in model.widgets">
                    <div ng-switch="widget.widgetType">
                        <div class="wd-widget-toolbar">
                            <a href
                               ng-href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </a>
                        </div>
                        <div ng-switch-when="IMAGE">
                            <img ng-src="{{widget.url}}" width="100%">
                        </div>
                        <div ng-switch-when="HTML"
                             ng-bind-html="model.trustHtmlContent(widget.text)">
                        </div>
                        <div ng-switch-when="HEADING">
                            <h2>{{widget.text}}</h2>
                        </div>
                        <div ng-switch-when="YOUTUBE">
                            <iframe width="560"
                                    height="315"
                                    src="{{model.trustUrlResource(widget.url)}}"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                        <div ng-switch-default>
                            <div class="alert alert-danger">
                                Something went wrong here
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </div>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="navbar-header">
                <a class="navbar-toggle collapsed nav-checkbox"
                   href="profile.html">
                    <span class="glyphicon glyphicon-user color-me-white"></span>
                </a>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-play"></span>
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </div>

            <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"
                 id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">
                        <span class="glyphicon glyphicon-user color-me-white"></span>
                    </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->


        </div>
    </nav>
</div>
